body {
  background-color: white;
  width: 100%;
  overflow: hidden;
}

h1, li {
  font-family: 'Raleway';
  color: #05003E;
  cursor: pointer;
  font-size: 16px;
}

h1 {
  font-style: italic;
}

li {
  font-style: normal;
}

h3 {
  font-weight: lighter;
  font-style: normal;
  font-size: 50px;
  font-family: 'Raleway';
  color: #05003E;
  margin-left: 0;
}

.naming1 {
  position: absolute;
  left: 70%;
  top: 80%;
}

.naming2 {
  position: absolute;
  left: 70%;
  top: 87%;
}

.underline-one {
  color: #05003E;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  z-index: 10;
}

.underline-one:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 1.5px;
  /* Высота линии */
  background-color: white;
  /* Цвет подчеркивания при исчезании линии*/
  transition: width 1s;
  /* Время эффекта */
  z-index: 10;
}

.underline-one:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1.5px;
  /* Высота линии */
  background-color: #05003E;
  /* Цвет подчеркивания при появлении линии*/
  transition: width 1s;
  /* Время эффекта */
  z-index: 10;
}

.abouta {
  color: #05003E;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #05003E;
}

.logo {
  text-decoration: none;
  font-style: italic;
  cursor: pointer;
  color: #05003E;
}

.containermain {
  display: grid;
  grid-template-columns: 295px 1010px 30px;
  grid-template-rows: 50px 50px;
  justify-content: center;
  padding: 1%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.containertable {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  margin-left: -201px;
  margin-right: 16px;
}

.basket {
  background-image: url('../img/basket.svg');
  background-repeat: no-repeat;
  background-size: 80%;
}

.vectorhistory {
  background-image: url('../img/vectorhistory.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 72%;
  left: 20%;
  display: none;
}

.vector {
  background-image: url('../img/Vector.svg');
  background-repeat: no-repeat;
  width: 120%;
  height: 54%;
  background-size: 40%;
  position: absolute;
  top: 30%;
  left: -10%;
  display: none;
}

.shapemain {
  background-image: url('../img/shapemain.svg');
  display: block;
  background-size: 90%;
  top: 5%;
  justify-content: center;
  left: 6%;
}

.shapemain-off {
  display: none;
}

.shape1 {
  background-image: url('../img/shape1.svg');
  display: none;
  background-size: 38%;
  left: 28%;
  top: 5%;
}

.shape2 {
  background-image: url('../img/shape2.svg');
  display: none;
  background-size: 60%;
  left: 18%;
  top: 10%;
}

.shape3 {
  background-image: url('../img/shape3.svg');
  display: none;
  background-size: 50%;
  left: 20%;
  top: 10%;
}

.shape3a {
  background-image: url('../img/shape3.svg');
  display: none;
  background-size: 50%;
  left: 20%;
  top: 10%;
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
}

.shape4 {
  background-image: url('../img/shape4.svg');
  display: none;
  background-size: 60%;
  top: 10%;
  left: 20%;
}

.shape4a {
  background-image: url('../img/shape4.svg');
  background-size: 60%;
  top: 10%;
  left: 20%;
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
}

.shape1a {
  background-image: url('../img/shape1.svg');
  background-size: 38%;
  left: 28%;
  top: 5%;
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
}

.shapemain, .shape1, .shape2, .shape3, .shape4 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.shape1-on, .shape2-on, .shape3-on, .shape4-on {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.points, .points1 {
  display: flex;
  flex-flow: column;
  margin-left: 12%;
  margin-top: 5%;
  position: absolute;
}

.dreams, .books, .souvenir, .who {
  margin-top: 8px;
}

.history, .dreams, .books, .souvenir, .fordream, .where, .who {
  font-style: italic;
}

.texthistory, .texthistory1 {
  font-family: sans-serif;
  width: 800px;
  position: absolute;
  left: 26%;
  top: 25%;
  display: none;
  font-family: 'Raleway';
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  color: #05003E;
}

/* сдайдер со сновидениями */
.dreamspoint {
  display: none;
}

.p1, .p3, .p4, .p5, .p6, .p7, .p8 {
  font-size: 40px;
  color: #05003E;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.p3, .p4 {
  margin-top: 80px;
  margin-left: 123px;
}

.p5 {
  margin-top: 80px;
  margin-left: 110px;
}

.p6 {
  margin-top: 80px;
  margin-left: 128px;
}

.p7 {
  margin-top: 80px;
  margin-left: 116px;
}

.p1 {
  width: 250px;
  margin-top: 30%;
  margin-left: -50%;
}

.dream1, .dream2, .dream3, .dream4, .dream5 {
  display: none;
}

.info, .info2, .info3, .info4, .info5 {
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1405px;
  top: 12px;
  border-radius: 100%;
  background: #FFFFFF;
  z-index: 100;
  cursor: pointer;
}

h2 {
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 20px;
  color: #05003E;
  text-align: center;
  cursor: pointer;
}

.blockinfo1, .blockinfo2, .blockinfo3, .blockinfo4, .blockinfo5 {
  display: none;
  z-index: 1;
  width: 662px;
  height: 388px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
}

.infotext, .infotext2, .infotext3, .infotext4, .infotext5 {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 24px;
  line-height: 130%;
  color: #05003E;
}

.infotext, .infotext2 {
  margin-top: 22px;
  margin-left: 125px;
  width: 402px;
}

.infotext3 {
  margin-top: 22px;
  margin-left: 111px;
  width: 440px;
}

.infotext4 {
  margin-top: 22px;
  margin-left: 129px;
  width: 403px;
}

.infotext5 {
  margin-top: 22px;
  margin-left: 116px;
  width: 430px;
}

.close, .close2, .close3, .close4, .close5 {
  position: absolute;
  left: 1080px;
  top: 180px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #05003E;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

.close6 {
  position: absolute;
  left: 325px;
  top: 5px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #05003E;
  cursor: pointer;
  z-index: 1000;
}

.arrow, .arrowblue {
  background-repeat: no-repeat;
  position: absolute;
  z-index: 100;
  left: 6%;
  top: 2%;
  width: 32px;
  height: 16px;
  display: none;
  cursor: pointer;
}

.arrow {
  background-image: url('../img/Arrow.svg');
}

.arrowblue {
  background-image: url('../img/Arrowblue.svg');
}

.dreamsproducts, .souvenirproducts {
  height: 510px;
  overflow-x: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #05003E white;
  /* display: grid; */
  grid-template-columns: repeat(3, 350px);
  row-gap: 80px;
  position: absolute;
  justify-content: center;
  top: 0;
  right: 8%;
  bottom: 0;
  left: 22%;
  margin: auto;
  display: none;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 10px;
  width: 7px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #05003E;
  border-radius: 5px;
  border: 3px solid white;
}

.dreamproduct1, .dreamproduct2, .dreamproduct3, .dreamproduct4, .dreamproduct5, .dreamproduct6, .dreamproduct7, .souvenirproduct1, .souvenirproduct2, .souvenirproduct3 {
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  width: 320px;
  height: 408px;
  border: 1px solid #05003E;
  -webkit-transition: background ease-in-out .5s;
  -moz-transition: background ease-in-out .5s;
  -o-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s;
}

.dreamproduct, .souvenirproduct {
  box-sizing: border-box;
  overflow: hidden;
  width: 320px;
  height: 408px;
  background-color: #05003E;
  border: 1px solid #05003E;
  -webkit-transition: background ease-in-out .5s;
  -moz-transition: background ease-in-out .5s;
  -o-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .diary, .bag, .candle, .diaryinfo, .candleinfo, .baginfo {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.img1 {
  background-image: url('../img/bottle1.svg');
  background-size: 80%;
  margin-left: 12%;
  margin-top: 10%;
}

.img2 {
  background-image: url('../img/bottle2.svg');
  background-size: 65%;
  margin-left: 15%;
  margin-top: 10%;
}

.img3 {
  background-image: url('../img/bottle3.svg');
  background-size: 71%;
  margin-left: 15%;
  margin-top: 5%;
}

.img4 {
  background-image: url('../img/pajamas1.png');
  background-size: 100%;
}

.img5 {
  background-image: url('../img/hears.svg');
  margin-left: 10%;
  margin-top: 15%;
}

.img6 {
  background-image: url('../img/pillow1.png');
  background-size: 100%;
  margin-top: 5%;
}

.img7 {
  background-image: url('../img/roadpillow1.png');
  background-size: 100%;
  margin-top: 15%;
}

.diary {
  background-image: url('../img/diary1.svg');
  background-size: 90%;
  margin-top: 20%;
  margin-left: 4%;
}

.diaryinfo {
  background-image: url('../img/diary1.svg');
  background-size: 90%;
  height: 435px;
  width: 435px;
  margin-left: 50%;
  margin-top: -15%;
}

.bag {
  background-image: url('../img/bag.svg');
  margin-left: 5%;
}

.baginfo {
  background-image: url('../img/bag.svg');
  background-size: 40%;
  margin-left: 50%;
  margin-top: -13%;
}

.candle {
  background-image: url('../img/candle.svg');
  margin-left: 9%;
}

.candleinfo {
  background-image: url('../img/candle.svg');
  background-size: 40%;
  margin-left: 50%;
  margin-top: -30%;
}

.text1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #05003E;
  margin-top: 12px;
}

.text2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #05003E;
  width: 375px;
  line-height: 140%;
}

.textproduct1 {
  margin-left: 50px;
  margin-top: 50px;
}

.textproduct2 {
  margin-left: 50px;
}

.textproduct3 {
  margin-left: 50px;
  margin-top: 80px;
}

.textproduct4 {
  margin-left: 57px;
  margin-top: 120px;
  z-index: 10;
}

.imginfo, .imginfo2, .imginfo3, .imginfo4, .imginfo5, .imginfo6, .imginfo6a, .imginfo7 {
  background-repeat: no-repeat;
  width: 100%;
  height: 120%;
}

.imginfo {
  background-image: url('../img/bottle1.svg');
  margin-left: 55%;
  margin-top: -24%;
  background-size: 40%;
}

.imginfo2 {
  background-image: url('../img/bottle2.svg');
  margin-left: 57%;
  margin-top: -28%;
  background-size: 32%;
}

.imginfo3 {
  background-image: url('../img/bottle3.svg');
  margin-left: 56%;
  margin-top: -34%;
  background-size: 36%;
}

.imginfo4 {
  background-image: url('../img/pajamas2.png');
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 20%;
}

.imginfo5 {
  background-image: url('../img/ears.png');
  background-size: 60%;
  position: absolute;
  top: 0;
  left: 25%;
}

.imginfo6 {
  background-image: url('../img/pillow1a.png');
  background-size: 80%;
  position: absolute;
  top: 0;
  left: 20%;
  display: block;
}

.imginfo6a {
  background-image: url('../img/pillow2a.png');
  background-size: 80%;
  position: absolute;
  top: 0;
  left: 20%;
  display: none;
}

.imginfo7 {
  background-image: url('../img/roadpillow1a.png');
  background-size: 80%;
  position: absolute;
  top: 0;
  left: 20%;
  display: none;
}

.price, .price2, .price3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
  color: #05003E;
}

.price2 {
  margin-left: 30px;
}

.price3 {
  margin-left: 18px;
}

.alltext {
  display: grid;
  grid-template-columns: repeat(2, 65%);
}

.plashka {
  box-sizing: border-box;
  overflow: hidden;
  width: 1000px;
  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #FFFFFF;
  border: 1px solid #05003E;
}

.buy {
  width: 169px;
  font-family: 'Raleway';
  font-style: normal;
  font-size: 18px;
  color: #05003E;
  position: absolute;
  left: 1095px;
  top: 685px;
}

.vector3 {
  background-image: url('../img/Vector3.svg');
  background-repeat: no-repeat;
  background-size: 90%;
  width: 619px;
  height: 805px;
  top: -56px;
  left: -65px;
  transform: rotate(180deg);
  position: absolute;
  z-index: 2;
}

.vector4 {
  background-image: url('../img/vector4.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  width: 1550.50px;
  height: 594px;
  left: 50%;
  top: 10%;
  position: absolute;
  z-index: -2;
  display: none;
}

.productinfo1, .productinfo2, .productinfo3, .productinfo4, .productinfo5, .productinfo6, .productinfo7, .productinfo8, .productinfo9, .productinfo10 {
  display: none;
  z-index: -2;
}

.welldone {
  z-index: 2;
  width: 350px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #FFFFFF;
  border: 1px solid #05003E;
  display: none;
}

.okay {
  z-index: 12;
  width: 350px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.welltext {
  display: flex;
  justify-content: center;
  margin-top: 26%;
}

.okaytext {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  width: 300px;
  font-family: "Raleway";
  font-size: 30px;
  text-transform: uppercase;
  color: #05003E;
}

.okayclose {
  height: 17px;
  font-family: "Raleway";
  font-size: 16px;
}

.arrowdown {
  background-image: url('../img/arrowdown.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  z-index: 2;
  position: absolute;
  top: 95%;
  left: 50%;
  display: none;
  cursor: pointer;
}

.arrowdownwhite {
  background-image: url('../img/arrowdownwhite.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 95%;
  left: 50%;
  display: none;
  cursor: pointer;
}

.book1, .winx {
  display: none;
}

.background1 {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.background1 {
  background-image: url('../img/backroundbook.svg');
  position: absolute;
  background-size: 150%;
  top: 10%;
  z-index: -2;
}

.background2 {
  background-image: url('../img/backroundbook.svg');
  position: absolute;
  background-size: 100%;
  top: 20%;
  left: 10%;
  z-index: -2;
  width: 100%;
  height: 100%;
  display: none;
  background-repeat: no-repeat;
}

.background3 {
  background-image: url('../img/backroundbook.svg');
  position: absolute;
  background-size: 70%;
  top: 20%;
  left: 70%;
  z-index: -2;
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
}

.background4 {
  background-image: url('../img/backroundbook.svg');
  position: absolute;
  background-size: 100%;
  top: 20%;
  left: -70%;
  z-index: -2;
  width: 120%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
}

.bg1 {
  background-image: url('../img/backroundbook.svg');
  position: absolute;
  background-size: 120%;
  top: 10%;
  z-index: -2;
  transform: rotate(180deg);
}

.bg2 {
  background-image: url('../img/backroundbook.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 80%;
  left: -70%;
  top: -30%;
  z-index: -2;
  transform: rotate(200deg);
  display: none;
}

.bookname {
  position: absolute;
  top: 15%;
  left: 65%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  color: #05003E;
}

.winxname {
  left: 75%;
}

.moreinfo {
  position: absolute;
  width: 154px;
  height: 21px;
  left: 25%;
  top: 92%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #05003E;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-repeat: no-repeat;
}

.aboutwhere {
  font-family: "Raleway";
  font-size: 18px;
  position: absolute;
  left: 25.5%;
  top: 88%;
  z-index: 10;
  display: none;
}

.choose {
  display: flex;
  margin-left: 57px;
}

.option1 {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #05003E;
  cursor: pointer;
}

.option2 {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin-left: 12px;
  background-color: #05003E;
  cursor: pointer;
}

.optioncircle {
  z-index: 12;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #05003E;
  margin-top: 25%;
  margin-left: 25%;
  display: none;
}

.optioncircle2 {
  z-index: 12;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #fff;
  margin-top: 25%;
  margin-left: 25%;
  display: block;
}
